$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// Override bootstrap variables here
$brand-success: #1e7b29;
$brand-primary: #3b9e47;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
