<form class="keyword-search-form" ng-submit="$ctrl.notifySearchOptionChange()">
  <div class="input-group">
    <span class="input-group-btn">
      <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        {{$ctrl.getCurrentKeywordSearchTypeLabel()}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="keywordSearchType in $ctrl.keywordSearchTypes"><a href="javascript:void(0)" ng-click="$ctrl.changeKeywordSearchType(keywordSearchType.value)">{{keywordSearchType.label}}</a></li>
      </ul>
    </div>
    </span>
    <input type="text" class="form-control" ng-model="$ctrl.searchData.keyword" />
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
    </span>
  </div>
</form>
