.job-list {
  background-color: #fff;
  border-radius: 4px;
  padding: 30px 20px 20px 20px;
  h3 {
        margin: 0;
      }
  .bookmark-button {
    float: right;
  }
  .job-list-loading {
    opacity: 0.5;
  }
  .offer-count {
    margin: 0;
  }
  .sort-order-form {
    text-align: right;
  }
  .pagination {
    text-align: center;
  }
  .job-post {
    margin: 0 0 20px 0;
    padding: 15px 0 15px 0;
    border: 1px solid #ddd;
    .job-post-image-col {
      padding-right: 0;
      img {
        border: 1px solid #ddd;
        padding: 10px;
        width: 100px;
        height: 100px;
      }
    }
    .job-post-description {
      font-size: 16px;
      .fa {
        display: inline-block;
        width: 15px;
        text-align: center;
      }
    }
  }
  @media (max-width: 991px) {
    .bookmark-button {
        float: initial;
        margin: 10px 0 10px 0;
    }
  }
  @media (max-width: 767px) {
    .job-title {
        margin: 10px 0 0 0;
    }
  }
}
