<div class="row job-listing-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <search search-data="$ctrl.searchData" on-search-options-changed="$ctrl.changeSearchOptions(newKeywordSearchType, newKeyword)">
      </search>
    </div>
  </div>
  <div class="row advanced-filters-job-posts">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <uib-accordion close-others="$ctrl.showOnlyOneAdvancedFilter">
        <advanced-filter-accordion-group is-open="$ctrl.categoriesFilterOpen" title="Categories">
          <category-filter category-filter-data="$ctrl.categoryFilterData" on-filter-changed="$ctrl.changeCategoryIds(selectedItemIds)">
          </category-filter>
        </advanced-filter-accordion-group>
        <advanced-filter-accordion-group is-open="$ctrl.employmentTypesFilterOpen" title="Employment Types">
          <employment-type-filter employment-type-filter-data="$ctrl.employmentTypeFilterData" on-filter-changed="$ctrl.changeEmploymentTypeIds(selectedItemIds)">
          </employment-type-filter>
        </advanced-filter-accordion-group>
        <advanced-filter-accordion-group is-open="$ctrl.locationsFilterOpen" title="Locations">
          <location-filter location-filter-data="$ctrl.locationFilterData" on-filter-changed="$ctrl.changeLocationIds(selectedItemIds)">
          </location-filter>
        </advanced-filter-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <job-list job-list-data="$ctrl.jobListData" on-sort-order-changed="$ctrl.changeSortOrder(newSortOrder)" on-page-changed="$ctrl.changePage(newPage)"
        on-bookmark-requested="$ctrl.bookmark(jobPost, shouldRemoveBookmark)">
      </job-list>
    </div>
  </div>
</div>
